<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="about.css">
</head>

<body>
  <div id="top">
    <div class="top_left">
      <div class="top_box">
        <div class="paragraph">
          <span class="title">GLOBAL<br>BUSINESS<br><br></span>
          <span class="context">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quaerat tenetur
            sint, excepturi voluptate reiciendis ipsum sunt vitae harum accusamus alias saepe.</span>
        </div>
      </div>
    </div>
    <div class="top_right">
      <div class="right1"></div>
      <div class="right2"></div>
    </div>
  </div>
  <div id="box_all">
    <div class="box_all_left">
      <div class="box_all_box">
        <span class="title">Title<br><br></span>
        <span class="context">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ullam commodi nesciunt odit
          voluptatum explicabo deleniti itaque exercitationem. </span>
      </div>
      <div class="box_all_box">
        <span class="title">Title<br><br></span>
        <span class="context">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ullam commodi nesciunt odit
          voluptatum explicabo deleniti itaque exercitationem. </span>
      </div>
      <div class="box_all_box">3</div>
      <div class="box_all_box">4</div>
      <div class="box_all_box">5</div>
      <div class="box_all_box">6</div>
    </div>
    <div class="box_all_right">7</div>
  </div>
  <div id="footer">
    <div class="footer_left">
      <ul>
        <li>&nbsp&nbsp법적고지</li>
        <li>&nbsp|&nbsp</li>
        <li>이메일무단수집거부</li>
        <li>&nbsp|&nbsp</li>
        <li>이용약관</li>
        <li>&nbsp|&nbsp</li>
        <li>개인정보취급방침</li>
        <li>&nbsp|&nbsp</li>
        <li>고객센터</li>
        <li>&nbsp|&nbsp</li>
        <li>입찰공고</li>
      </ul>
    </div>
    <div class="footer_right"></div>
  </div>

</body>

</html>