.box_all_box {
  float: left;
  width: 210px;
  height: 210px;
  padding: 20px;
}

.box_all_box>.title {
  font-size: 20px;
  font-weight: bold;
}

.oddBox {
  background-color: rgb(255, 102, 0)
}

.evenBox {
  background-color: rgb(95, 94, 113)
}

